.aboutSection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.textContainer {
  width: 100%;
  align-content: center;
}

.leftContentContainer {
  width: 100%;
}
.techStack {
  font-weight: 600;
}

.summaryHeading {
  margin: 10px 0;
  color: #1976d2;
}

.image {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.image img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.typewriterLabel {
  color: #1976d2;
}

.typewriterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.2rem;
}

.typewriterLabel {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    width: 100%;
  }

  .image {
    width: 180px !important;
    height: 180px !important;
  }

  .summaryHeading {
    margin: 10px 0;
    color: #1976d2;
  }
  .summaryText {
    max-height: 280px;
    overflow-y: auto;
  }
  .typewriterContainer {
    margin: 0.5rem 0;
  }
}
